* {
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background: #eee;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #969;
}

a {
    color: #969;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#header {
	margin-top: 0;
}

#play {
    display: block;
    animation: onload 0.5s ease-in-out;
}

#pause {
    display: none;
    animation: onload 0.5s ease-in-out;
}

#logo {
    position: relative;
    top: 13px;
}

#list {
	margin-bottom: 16px;
}

#enable_bg {
    display: block;
    line-height: 14px;
    transition: all 0.5s ease-in-out;
}

#disable_bg {
    display: none;
    line-height: 14px;
    transition: all 0.5s ease-in-out;
}

#status {
	margin: 0 auto;
}

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: onload 1s ease-in-out;
}

.container {
    margin-top: 32px;
    margin-bottom: 32px;
}

.round {
    border-radius: 50%;
    border: 2px solid #969;
    max-width: 200px;
    min-width: 96px;
    margin: 0 auto;
}

.tag {
    padding: 8px;
    margin: 0;
    color: #969;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    animation: 1s ease-in-out 0s 1 onload;
}

.tag:hover, .active {
    color: black;
    background: rgba(255, 255, 255, 0.75);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.volume_icon {
	width: 32px; height: 32px;
	background: url('volume.png') 0px -32px;
}

.volume_0 {
    background: url('volume.png') 0px 0px;
}

.volume_1 {
    background: url('volume.png') -32px 0px;
}

.volume_2 {
    background: url('volume.png') 0px -32px;
}

.volume_3 {
    background: url('volume.png') -32px -32px;
}
.slider_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
}

.slider_container {
	display: block;
	min-width: 256px;
	margin-left: 16px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #969;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #969;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.background {
    display: none;
    height: 100vh;
    width: auto;
    background-image: url('https://anon.fm/geomap.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: contrast(.15) brightness(1.7) blur(32px);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: -17;
    animation: 1s ease-in-out 0s 1 onload;
    -webkit-transition: 1s;
    transition: 1s;
}

.corner {
    position: absolute;
    bottom: 8px;
    left: 8px;
    opacity: .35;
    transition: all 0.5s ease-in-out;
}

.corner:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

@keyframes onload {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border: none;
    background: #969;
    background-size: 15px
}

::-webkit-scrollbar-thumb:hover {
    background: #969;
}

::-webkit-scrollbar-track {
    background: #DDD;
    border: none;
}

::selection {
    background: transparent;
    color: #369;
}

::-moz-selection {
    background: transparent;
    color: #369;}
